@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

/* common styles downside */
header,
.categories,
.party,
.party-place-sec,
.coming-soon,
.holiday-sale,
.portfolio,
.newsletter {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 120px;
}
/* common styles upside  */
header {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  margin-top: 50px;
  font-family: Merriweather;
}
.head-title-container {
  text-align: center;
  color: #fff;
}
.head-title-container .title-1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 16px;
  padding: 150px 250px 0px 250px;
}
.head-title-container .title-2 {
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
  padding: 0px 250px 150px 250px;
}
.categories .offer-category {
  text-align: center;
  font-family: Inter;
}
.categories .offer-category .offer {
  color: #f00;
  margin-top: 0;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}
.categories .offer-category .deals {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 16px;
}
.categories .offer-category .all-categories {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 48px;
}

.party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: flex;
  gap: 50px;
}
.party .party-items {
  padding: 20px 0 20px 40px;
}
.party .year-img {
  padding: 20px 40px 20px 0;
}
.party-items .party-item-title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
  font-family: Merriweather;
}
.party-items .party-item-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 48px;
  font-family: Inter;
}
.party-items .join-party {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  margin-left: 25px;
  font-family: Inter;
}
/* party place section */
.party-place-sec {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
  text-align: center;
}
.party-place-sec .party-location {
  padding: 50px 60px;
}
.party-place-sec .party-location .place,
.party-place-sec .party-location .date,
.party-place-sec .party-location .time {
  color: #070211;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 16px;
  font-family: Inter;
}
.party-place-sec .party-location .party-place,
.party-place-sec .party-location .party-date,
.party-place-sec .party-location .party-time,
.holiday-sale .sale-container .holiday-text {
  color: #f00;
}
.party-place-sec .join-btn .join-now-btn {
  border-radius: 8px;
  background-color: #f00;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 32px;
  margin-top: 40px;
  font-family: Inter;
}
.coming-soon {
  display: flex;
  gap: 50px;
}
.coming-soon .center-column img {
  padding: 15px;
  border: 10px solid #f00;
  border-radius: 100%;
}
.coming-soon .left-column .best-offer,
.portfolio .portfolio-container .gift-text {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  font-family: Inter;
  margin-bottom: 16px;
}
.coming-soon .left-column .coming-soon-text,
.portfolio .portfolio-container .portfolio-text {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  font-family: Merriweather;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 22px;
}
.coming-soon .left-column .offer-info,
.portfolio .portfolio-container .portfolio-info {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  font-family: Inter;
  margin-top: 0;
}
.coming-soon .right-column .year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.coming-soon .right-column .year-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 43px;
}
.holiday-sale .sale-container {
  text-align: center;
}
.holiday-sale .sale-container .functional-text {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.holiday-sale .sale-container .sale {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 28px;
}
.holiday-sale .sale-container .holiday-sale-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
}
.images-container img {
  width: 30%;
  margin-bottom: 24px;
}
.images-container img:hover {
  border-radius: 16px;
  box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.newsletter {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  text-align: center;
}
.newsletter .newsletter-container .newsletter-text {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 22px;
}
.newsletter .newsletter-container .newsletter-info {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 48px;
}
.subscription {
  padding: 0 100px 50px 100px;
  display: flex;
  justify-content: center;
}
.newsletter-container {
  padding: 50px 100px 0 100px;
}
.subscription .usermail {
  width: 40%;
  border-radius: 50px 0 0 50px;
  padding: 25px 30px;
  border: none;
  color: rgba(7, 2, 17, 0.3);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
}
.subscription .newsletter-subscribe-btn {
  border-radius: 0px 50px 50px 0px;
  background-color: #f00;
  border: none;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  padding: 25px 50px;
}
